<section class="add-livro">
  <header class="container">
    <h2>Adicione um novo livro <br>à sua estante:</h2>
  </header>
  <div class="formulario">
    <form [formGroup]="formulario">
      <div class="form-inputs">
        <label>Título</label>
        <input
          type="textarea"
          class="input textarea"
          placeholder="Nome do livro"
          formControlName="titulo"
        >
      </div>

      <div class="mensagem-erro"
      *ngIf="formulario.get('titulo')?.errors?.['required'] && formulario.get('titulo')?.touched">
        Preenchimento obrigatório
      </div>
      <div class="mensagem-erro"
        *ngIf="formulario.get('titulo')?.errors?.['minlength'] && formulario.get('titulo')?.touched">
        Necessário ao menos 3 caracteres.
      </div>

      <div class="form-inputs">
        <label>Autor</label>
        <input
          type="text"
          class="input"
          placeholder="Digite o autor"
          formControlName="autor"
        >
      </div>

      <div class="mensagem-erro"
      *ngIf="formulario.get('autor')?.errors?.['required'] && formulario.get('autor')?.touched">
        Preenchimento obrigatório
      </div>
      <div class="mensagem-erro"
        *ngIf="formulario.get('autor')?.errors?.['minlength'] && formulario.get('autor')?.touched">
        Necessário ao menos 3 caracteres.
      </div>

      <div class="container-botao">
        <button
          (click)="adicionarLivro()"
          [disabled]="!formulario.valid"
          [ngClass]="habilitarBotao()"
        >Adicionar</button>
        <button class="botao" (click)="cancelar()">Cancelar</button>
      </div>

    </form>
  </div>
</section>
