<section class="add-livro">
  <header class="container">
    <h2>Adicione um novo livro <br>à sua estante:</h2>
  </header>
  <div class="formulario">
    <form [formGroup]="formulario">
      <div class="form-inputs">
        <label>Título</label>
        <input
          type="textarea"
          class="input textarea"
          placeholder="Nome do livro"
          formControlName="titulo"
        >
      </div>

      <div class="form-inputs">
        <label>Autor</label>
        <input
          type="text"
          class="input"
          placeholder="Digite o autor"
          formControlName="autor"
        >
      </div>

      <label class="label-separar">Estante:</label>
      <div>
        <select formControlName="estante">
          <option value="selecione">Selecione a estante</option>
          <option value="desejo-ler">Desejo ler</option>
          <option value="lendo">Lendo</option>
        </select>
      </div>
      <div class="container-botao">
        <button class="botao" (click)="adicionarLivro()">Adicionar</button>
        <button class="botao" (click)="cancelar()">Cancelar</button>
      </div>

    </form>
  </div>
</section>
