<section>
  <h2>Minha estante</h2>
  <button class="botao" routerLink="/adicionar-livro">Adicionar livro</button>
  <div class="container-livro">
    <div>
      <h3>Meus livros</h3>
      <div class="livros">
        <div *ngFor="let livro of listaDeLivros">
          <app-livro
            [livro]="livro"
          ></app-livro>
        </div>
      </div>
    </div>
    <div>
      <h3>Estou lendo</h3>
      <div class="livros livros-status">
      </div>
    </div>
    <div>
      <h3>Lidos</h3>
      <div class="livros livros-status"></div>
    </div>
  </div>
</section>
