section {
  text-align: center;
}

.botao {
  margin: 50px 0 ;
  background-color: #44c767;
	border-radius: 15px;
  border: 1px solid #44c767;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	padding: 10px 30px;
	text-decoration:none;
  font-weight: 500;
  font-size: medium;
}

.botao:hover {
  background-color: #2abd85;
  border: 1px solid #2abd85;
}

.botao:active {
  position: relative;
	top: 1px;
}

.container-livro {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.livros {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-wrap: wrap;
  gap: 16px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}

.livros-status {
  min-height: 100px;
}
