.cria-citacao {
  padding: 2rem 0;
}

.container {
  text-align: center;
}

form {
  background: #004723;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 15px 350px;
  color: #ffffff;
  font-weight: 500;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.criar-citacao form label {
  margin: 0.2rem 0.5rem ;
}

.criar-citacao form .input {
  border: none;
  height: 40px;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 1rem;
}

.criar-citacao form .textarea {
  padding: 2rem 2rem;
}

.container-input {
  display: flex;
  justify-content: space-between;
}

.citacao {
  background-color: #ffffff;
  padding: 1rem;
  max-width: 250px;
  margin: 0.3rem 0 1rem;
}

.citacao .conteudo {
  margin: 1rem auto;
  word-wrap: break-word
}

.citacao .autor {
  word-wrap: break-word;
}

.modelo1 {
  color: #ef2346;
  box-shadow: 8px 8px 0 #ef2346;
}

.modelo2 {
  color: #faba26;
  box-shadow: 8px 8px 0 #faba26;
}

.modelo3 {
  color: #7073ee;
  box-shadow: 8px 8px 0 #7073ee;
}

input[type="radio"] {
  display: none;
}

.custom-radio {
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.container-radio label {
  display: flex;
  gap: 15px;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: #ffffff;
}

.custom-radio span {
  content: '';
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50%;
}

input[type='radio']:checked+.custom-radio {
  border-color: #ffffff;
}

input[type='radio']:checked+.custom-radio span {
  background: #ffffff;
}

.container-botao {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.botao {
  background-color:#44c767;
	border-radius:15px;
  border: 1px solid #44c767;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
	text-decoration:none;
  font-weight: 500;
}

.botao:hover {
  background-color: #2abd85;
  border: 1px solid #2abd85;
}

.botao:active {
  position:relative;
	top:1px;
}
