<div class="citacao {{ citacao.modelo }}" [ngClass]="larguraCitacao()">
  <img src="../../../../assets/imagens/{{ citacao.modelo }}.png" alt="Aspas azuis">
  <p class="conteudo">{{ citacao.conteudo }}</p>
  <p class="autor"><b>{{ citacao.autor }}</b></p>
  <div class="acoes">
    <button class="botao-favoritar" (click)="favoritarCitacao()">
      <img src="../../../../assets/imagens/favorito-{{ marcarFavorito() }}.png" alt="Icone favorito {{ marcarFavorito }}">
    </button>
    <button routerLink="/citacoes/editar-citacao/{{ citacao.id }}" class="botao-editar">
      <img src="../../../../assets/imagens/icone-editar.png" alt="Icone de editar">
    </button>
    <button routerLink="/citacoes/excluir-citacao/{{ citacao.id }}" class="botao-excluir">
      <img src="../../../../assets/imagens/icone-excluir.png" alt="Icone de excluir">
    </button>
  </div>
</div>
