<section class="criar-citacao">
  <header class="container">
    <h2>Edite sua citação inspiradora:</h2>
  </header>
  <div class="formulario">
    <form [formGroup]="formulario" *ngIf="formulario">
      <div class="form-inputs">
        <label>Citação</label>
        <input
          type="textarea"
          class="input textarea"
          placeholder="Digite sua citação"
          formControlName="conteudo"
          id="conteudo"
        >
      </div>

      <div class="mensagem-erro"
      *ngIf="formulario.get('conteudo')?.errors?.['required'] && formulario.get('conteudo')?.touched">
      Preenchimento obrigatório
      </div>

      <div class="form-inputs">
        <label>Autor</label>
        <input
          type="text"
          class="input"
          placeholder="Digite o autor"
          formControlName="autor"
          id="autor"
        >
      </div>

      <div class="mensagem-erro"
        *ngIf="formulario.get('autor')?.errors?.['required'] && formulario.get('autor')?.touched">
        Preenchimento obrigatório
      </div>
      <div class="mensagem-erro"
        *ngIf="formulario.get('autor')?.errors?.['minlength'] && formulario.get('autor')?.touched">
        Necessário ao menos 3 caracteres.
      </div>

      <label class="label-separar">Selecione o modelo do card:</label>

      <div class="container-input">
        <div>
          <div class="container-radio">
            <label for="modelo1">
              <input
                type="radio"
                id="modelo1"
                formControlName="modelo"
                value="modelo1"
                id="modelo1"
              >
              <div class="custom-radio">
                <span></span>
              </div>
              <span>Modelo 1</span>
            </label>

            <div>
              Prévia:
            </div>

            <div class="citacao modelo1">
              <img src="../../../../assets/imagens/modelo1.png" alt="Aspas vermelhas">
              <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
              <p class="autor"><b>{{ formulario.get('autor')?.value }}</b></p>
            </div>
          </div>
        </div>

        <div>
          <div class="container-radio">
            <label for="modelo2">
              <input
                type="radio"
                id="modelo2"
                formControlName="modelo"
                value="modelo2"
                id="modelo2"
              >
              <div class="custom-radio">
                <span></span>
              </div>
              <span>Modelo 2</span>
            </label>

            <div>
              Prévia:
            </div>

            <div class="citacao modelo2">
              <img src="../../../../assets/imagens/modelo2.png" alt="Aspas amarelas">
              <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
              <p class="autor"><b>{{ formulario.get('autor')?.value }}</b></p>
            </div>
          </div>
        </div>

        <div>
          <div class="container-radio">
            <label for="modelo3">
              <input
                type="radio"
                id="modelo3"
                formControlName="modelo"
                value="modelo3"
                id="modelo3"
              >
              <div class="custom-radio">
                <span></span>
              </div>
              <span>Modelo 3</span>
            </label>

            <div>
              Prévia:
            </div>

            <div class="citacao modelo3">
              <img src="../../../../assets/imagens/modelo3.png" alt="Aspas azuis">
              <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
              <p class="autor"><b>{{ formulario.get('autor')?.value }}</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-botao">
        <button
          (click)="editarCitacao()"
          [disabled]="!formulario.valid"
          [ngClass]="habilitarBotao()"
          >Editar
        </button>
        <button (click)="cancelar()" class="botao">Cancelar</button>
      </div>

    </form>
  </div>
</section>
