<section class="container">
  <header>
    <h2>Meu Mural</h2>
  </header>
  <button routerLink="/criar-citacao" class="botao">Adicionar citação</button>
  <div class="mural" *ngIf="listaCitacoes.length > 0, else semCitacoes">
    <div *ngFor="let citacao of listaCitacoes">
      <app-citacao [citacao]="citacao"></app-citacao>
    </div>
  </div>
</section>
<app-botao-carregar-mais
  [maisCitacoes]="maisCitacoes"
  (click)="carregarMais()"
>
</app-botao-carregar-mais>
<ng-template #semCitacoes>
  <p>Ainda não há citações cadastradas!</p>
</ng-template>

