<section class="container">
  <header>
    <div class="buscar-citacao">
      <input
        type="search"
        class="buscar"
        placeholder="O que está procurando?"
        autofocus
        [(ngModel)]="filtro"
        (keyup)="pesquisar()"
        >
        <img src="../../../../assets/imagens/lupa.png" alt="Lupa">
    </div>
    <h2>{{ titulo }}</h2>
    <div class="container-btn">
      <button class="botao" (click)="recarregarTodas()">Todas as citações</button>
      <button class="botao" (click)="listarFavoritos()">Citações Favoritas</button>
      <button routerLink="/criar-citacao" class="botao">Nova Citação</button>
    </div>
  </header>
  <div class="mural" *ngIf="listaCitacoes.length > 0, else semCitacoes">
    <div *ngFor="let citacao of listaCitacoes">
      <app-citacao
        [citacao]="citacao"
        [listaFavoritos]="listaFavoritos"
        ></app-citacao>
    </div>
  </div>
</section>
<app-botao-carregar-mais
  [maisCitacoes]="maisCitacoes"
  (click)="carregarMais()"
>
</app-botao-carregar-mais>
<ng-template #semCitacoes>
  <p>Ainda não há citações cadastradas!</p>
</ng-template>

